@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Roboto", sans;
$primary: #d30001;


body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.home-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  height: 100vh;

  > a {
    font-size: 1.5em;
    color: #111;
  }
}

h2,
h1 {
  margin: 0;
}

.name {
  font-size: 3.5em;
  font-family: "Roboto Mono", monospace;
  font-size: 700;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 110%;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: $primary;
    z-index: -1;
  }

  &.--link {
    font-size: 2em;
    text-align: center;
    font-weight: 600;

    &::before {
      bottom: -6px;
    }
  }
}

.job {
  font-weight: 300;
  margin-top: 12px;
  font-size: 2em;
}

@media only screen and (max-width: 900px) {
  .name {
    font-size: 2em;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -4px;
      width: 110%;
      height: 8px;
      transform: skew(-12deg) translateX(-50%);
      background: $primary;
      z-index: -1;
    }
  }

  .job {
    font-size: 1.3em;
    text-align: center;
  }

}

.links {
  padding-top: 12px;
  display: flex;
  gap: 24px;
  font-size: 1.5em;

  >a {
    padding-bottom: 0;
    border-bottom: 4px solid white;

    &:hover {
      border-bottom: 4px solid $primary;
    }

    >svg {
      height: 1.5em;
      width: 1.5em;

      color: black;
    }
  }

}

.email {
  font-size: 1.2em;

  span {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
  }
}

a {
  color: $primary;

  &:hover {
    filter: brightness(60%);
  }
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 22px;

  a {
    color: #111;
    padding-bottom: 0;
    text-decoration: none;
  }
}

.blog-link {
  margin: 18px 0;
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: #111;
}
